{% extends "layout.html" %}
{% load bootstrap5 %}

{% block content %}

{% include "navbar.html" %}

<div class="container p-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 mx-auto">
            {% include "_form.html" with form_title="비밀번호변경" submit_label="비밀번호변경" %}
{#            <div class="card">#}
{#                <div class="card-header">#}
{#                    <h3>비밀변호 변경</h3>#}
{#                </div>#}
{#                <div class="card-body">#}
{#                    {% if form %}#}
{#                        <form action="" method="POST" enctype="multipart/form-data">#}
{#                            {% csrf_token %}#}
{#                            {% bootstrap_form form %}#}
{#                            {% buttons %}#}
{#                                <button type="submit" class="btn btn-primary mt-2">#}
{#                                    비밀번호 변경#}
{#                                </button>#}
{#                            {% endbuttons %}#}
{#                        </form>#}
{#                    {% else %}#}
{#                        <div class="alert alert-danger">#}
{#                            form 객체를 지정해주세요.#}
{#                        </div>#}
{#                    {% endif %}#}
{#                </div>#}
{#            </div>#}
        </div>
    </div>
</div>

{% include "footer.html" %}
{% endblock content %}