{% extends "layout.html" %}
{% load bootstrap5 %}

{% block content %}

{% include "navbar.html"%}

<div class="container p-5">
    <div class="row">
        <div class="col-lg-8 col-md-12 mx-auto">
            <div class="card">
                <div class="card-header">
                    <h3>회원정보 수정</h3>
                </div>
                <div class="card-body">
                    {% if form %}
                        <form action="" method="POST" enctype="multipart/form-data">
                            {% csrf_token %}
                            {% bootstrap_form form %}
                            {% buttons %}
                                <button type="submit" class="btn btn-primary mt-2">
                                    회원정보 수정
                                </button>
                                 <a class="btn btn-secondary mt-2" role="button" href="{% url "accounts:password_change" %}">
                                    비밀번호 변경
                                </a>
                            {% endbuttons %}
                        </form>
                    {% else %}
                        <div class="alert alert-danger">
                            form 객체를 지정해주세요.
                        </div>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>

{% include "footer.html" %}

{% endblock content %}