{#{% extends "blog/layout.html" %}#}
{#{% load bootstrap5 %}#}

{% extends "blog/post_base.html" %}
{% load bootstrap5 %}

    {% block semi_content %}
       {% include "_form.html" with form_title="포스트 수정" submit_label="제출" %}
        <br>
    {% endblock semi_content %}


{#{% block content %}#}
{#    <div class="card mb-4">#}
{#        <div class="card-header">#}
{#            <h3 class="fst-italic fw-bold">&nbsp; 포스트 수정</h3>#}
{#        </div>#}
{##}
{#        <div class="card-body">#}
{#            <div class="row">#}
{#                <div class="col-sm-12">#}
{#                    <div class="container-md">#}
{#                        <form action="" method="POST" enctype="multipart/form-data">#}
{#                          {% csrf_token %}#}
{#                          {% bootstrap_form form %}#}
{#                          {% buttons %}#}
{#                            <button type="submit" class="btn btn-primary">#}
{#                                Submit#}
{#                            </button>#}
{#                            <a class="btn btn-secondary" role="button" href="{% url "blog:post_detail" post.pk %}">#}
{#                                뒤로#}
{#                            </a>#}
{#                          {% endbuttons %}#}
{#                        </form>#}
{#                    </div>#}
{#                </div>#}
{#            </div>#}
{#        </div>#}
{#    </div>#}
{#{% endblock %}#}