{% extends "blog/post_base.html" %}
{% load bootstrap5 humanize thumbnail %}


    {% block semi_content %}

        {% if post_list %}
            {% for post in page_obj %}
                <!-- Featured blog post-->
                <div class="card mb-4">
{#                    {% if post.head_image_thumbnail %}#}
{#                        <img class="card-img-top" src="{{ post.head_image_thumbnail.url }}" alt="{{ post }} head image"/>#}
{#                    {% else %}#}
{#                        <img class="card-img-top" src="https://picsum.photos/850/350/?blur" alt="random_image">#}
{#                    {% endif %}#}
                    {% if post.head_image %}
                        <img class="card-img-top" src="{% thumbnail post.head_image 850x350 crop %}" alt="{{ post }} head image" />
                    {% else %}
                        <img class="card-img-top" src="https://picsum.photos/850/350/?blur" alt="random_image">
                    {% endif %}

                    <div class="card-body">
                        <h3 class="card-title mb-2">
                            {{ post.title }}
                            {% if post.category == None %}
                                <span class="badge rounded-pill bg-secondary float-end" style="font-size: small"> 기 타 </span>
                            {% else %}
                                <span class="badge rounded-pill bg-secondary float-end" style="font-size: small"> {{ post.category }} </span>
                            {% endif %}
                        </h3>
                        <p class="card-text lh-base mt2">{{ post.content|truncatewords:45 |safe }}</p>
                        {% if post.tag.exists %}
                            <i class="fas fa-tags" style="font-size:14px"></i>
                            {% for tag in post.tag.all %}
                                <a href="{{ tag.get_absolute_url }}">
                                    <span class="badge rounded-pill bg-light" style="color: black; font-size: 14px;">{{ tag }}</span>
                                </a>
                            {% endfor %}
                            <br>
                            <br>
                        {% endif %}
                        <a class="btn btn-primary" href="{{ post.get_absolute_url }}">Read more →</a>
                    </div>
                    <div class="card-footer text-muted">
                        Posted on {{ post.created_at | date:"Y-m-d" }} by {{ post.author | upper }}
                    </div>
                </div>
            {% endfor %}
        {% else  %}
            <h3 class="d-flex justify-content-center"><span class="fw-light">검색결과가 없습니다.</span></h3>
            <br>
        {% endif %}

        <!-- Pagination-->
        {% bootstrap_pagination page_obj %}
            <style> ul{ justify-content: center; } </style>

    {% endblock semi_content %}
