{% load bootstrap5 thumbnail %}

<!-- Comments section-->
<section class="mb-5">
    <div class="card bg-light">
        <div class="card-header">
            Leave a Comment
        </div>
        {% if user.is_authenticated %}
            <div class="card-body">
                <!-- Comment form-->
                <form class="mb-3" method="POST" enctype="multipart/form-data" action="{% url "board2:new_comment" post.pk%}">
                    {% csrf_token %}
                    {% bootstrap_form comment_form layout="inline" %}
                    <div class="d-grid gap-2 d-md-flex justify-content-md-end mt-3">
                        {% bootstrap_button "Submit" button_type="submit" button_class="btn-primary" %}
                    </div>
                </form>
                {% if post.comment_set.exists %}
                    {% for comment in post.comment_set.all %}
                        <!-- Comment with nested comments-->
                        <div class="d-flex mb-4 mt-4">
                            <!-- Parent comment-->
                            <div class="flex-shrink-0">
                                <img class="rounded-circle" src="{{ comment.author.avatar_url }}" alt="pydenticon_image" style="height: 60px; width: 60px"/>
                            </div>
                            <div class="ms-3">
                                <div class="fw-bold d-flex"> {{ comment.author }} &nbsp;&nbsp;&nbsp;&nbsp;
                                    {% if comment.created_at == comment.updated_at %}
                                        <small class="text-muted">{{ comment.created_at | date:"Y.m.d H:i" }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% else %}
                                        <small class="text-muted">{{ comment.updated_at | date:"Y.m.d H:i" }}</small>&nbsp;&nbsp;&nbsp;&nbsp;
                                    {% endif %}
                                    {% if user.is_authenticated and comment.author == user %}
{#                                        <a role="button" class="btn btn-sm btn-outline-primary" style="font-size: 1.5px" href="{% url "board2:comment_edit" comment.pk %}">수정</a>&nbsp;#}
{#                                        <a role="button" class="btn btn-sm btn-outline-danger" style="font-size: 1.5px;" data-bs-toggle="modal" data-bs-target="#CommentDeleteModal">삭제</a>&nbsp;#}
                                        <i class="fa-solid fa-delete-left mt-1" role="button" data-bs-toggle="modal" data-bs-target="#CommentDeleteModal"></i>
                                        {% include "board2/comment_delete_modal.html" %}
                                    {% endif %}
                                </div>
                                <p class="mt-1">{{ comment.message | linebreaks }}</p>
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        {% else %}
             <div class="card-body">
                <a role="button" class="btn btn-outline-dark d-grid" href="{% url "accounts:login" %}" data-toggle="" data-target="#">
                    <strong class="text-muted">Log in and leave a comment</strong>
                </a>
             </div>
        {% endif %}
    </div>
</section>
