{% extends "board1/post_base.html" %}
{% load bootstrap5 %}

    {% block semi_content %}

        <div class="card">
            <div class="card-header" style="background-color: white">
                <div class="d-flex text-muted mt-3">
                    <div class="flex-grow-1">
                        <!-- Post title-->
                        <h3 class="mb-1">{{ post.title }}</h3>
                    </div>
                    <div>
                        <a class="badge bg-secondary text-decoration-none link-light me-1 mt-1" style="font-size: small;" href="{% url "board1:post_list" %}"> 목록 </a>
                        {% if user.is_authenticated and post.author == request.user %}
                            <a class="badge bg-secondary text-decoration-none link-light me-1" style="font-size: small" href="{% url "board1:post_update" post.pk %}"> 수정</a>
                            <a type="button" class="badge bg-secondary text-decoration-none link-light me-1" style="font-size: small" data-bs-toggle="modal" data-bs-target="#PostDeleteModal"> 삭제</a>
                            {% include "board1/Post_delete_modal.html" %}
                        {% endif %}
                    </div>
                </div>
                <div class="d-flex text-muted mt-3">
                    <div class="flex-grow-1">
                        <span class="badge rounded-pill bg-light text-muted" style="color: black; font-size: 14px">
                            <img class="rounded-circle me-1" src="{{ post.author.avatar_url }}" alt="pydenticon_image" style="height: 32px; width: 32px"/>
                            {{ post.author }}
                        </span>
                    </div>
                    <div>
                        <span class="justify-content-end" style="font-size: 14px">Posted on {{ post.created_at | date:"Y-m-d" }} </span>
                    </div>
                </div>
            </div>

            <div class="card-body">
                <!-- Preview image figure-->
                {% if post.head_image %}
                    <figure class="mb-4"><img class="img-fluid rounded" src="{{ post.head_image.url }}" alt="head_image" /></figure>
{#                    {% else %}#}
{#                        <figure class="mb-4"><img class="img-fluid rounded" src="https://picsum.photos/850/350/?blur" alt="piscum_image" /></figure>#}
                {% endif %}
                <!-- Post content-->
                <section class="mb-2 fw-lighter lh-lg">
                    {{ post.content | safe }}
                </section>
                <br>
                <section class="mb-5">
                    {% if post.file_upload %}
                        <a href="{{ post.file_upload.url }}" class="btn btn-outline-dark" role="button" download>
                            Download :&nbsp;
                            {% if post.get_file_ext == "csv" %}
                                <i class="fa-solid fa-file-csv"></i>
                            {% elif post.get_file_ext == "xlsx" or post.get_file_ext == "xls" %}
                                <i class="fa-solid fa-file-excel"></i>
                            {% elif post.get_file_ext == "docx" or post.get_file_ext == "doc" %}
                                <i class="fa-solid fa-file-word"></i>
                            {% else %}
                                <i class="fa-solid fa-file"></i>
                            {% endif %}
                            {{ post.get_file_name }}
                        </a>
                    {% endif %}
                </section>
            </div>
        </div>
        <br>
        <!-- Comments section-->
        {% include "board1/comment_form.html" %}

    {% endblock semi_content %}
